<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>WebApp</title>
    <link rel="stylesheet" href="/styles/homestyle.css">
</head>
<body>
    <h1 align="center">Welcome</h1>
    <img src="/images/qwe.jpg" alt="NOT FOUND">
    <form action="https://www.google.com/" method="get" target="_blank">
        <button  type="submit">Google</button> <br>
        <input value="">
    <button type="reset" style= name="btnEnter">Enter</button> <br> <br>
    </form>
    <div >
    <a href="/login">LOGIN</a> <br>
    <a href="/registration">REGISTRATION</a>
    </div>
</body>
</html>