<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="styles/loginformstyle.css">
</head>
<body>
<form action="/login" method="post" class='login-form'>
    <div class="flex-row logo">
        <h1>LOGO</h1>
    </div>
    <div class="flex-row">
        <input name="username" id="username" class='lf--input' placeholder='Your username' type='text'>
    </div>
    <h3 th:text="${numpassword}"/>
    <div class="flex-row">
        <input name="password" id="password" class='lf--input' placeholder='Your password' type='password'>
    </div>
    <input class='lf--submit' type='submit' value='Sign Up'>
</form>
</body>
</html>
