body{
    font-family: inherit;
    color: inherit;
   /* background-image: url(bg.jpg) none; */
    background-color: #C5C5C5;
    text-align: center;
}
h1 {
 color: #008080 ;
}
.sign-up{
    height: 250px;
    width: 300px;
    margin-top: 15%;
    margin-left: 40%;
    background-color:  #87CEEB;
    outline: 2px solid #000; /* Чёрная рамка */
    border: 3px solid #000080; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */
}

input{
    margin-top: 20px;
}
